.EndingPane {
    -fx-background-image: url(../images/menu/lower1.png);
}
.upperMenu {
    -fx-background-image: url(../images/menu/upper.png);
}
.lowerMenu {
    -fx-fill: url(../images/menu/lower1.png);
}
.upperMenu2 {
    -fx-fill: url(../images/menu/upper.png);

}